<% content_for :title, "Editing post" %>

<h1>Editing <%= @post.title %></h1>
<div class="page-wrapper bg-white text-black p-4">
  <%= render "form", post: @post %>
</div>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
