<div class="page-wrapper" data-controller="category-filter">
  <section class="timeline-heading">
    <div class="container">
      <div class="padding-vertical-xlarge">
        <div class="timeline-main_heading-wrapper">
          <span class="pre-h1">of</span><h1>Rudzainy Rahman</h1>
          <div class="margin-bottom-medium">
            <%= image_tag "/images/favicons/apple-touch-icon.png", class: "profile-image", alt: "Rudzainy Rahman" %>
          </div>
          <p class="paragraph-large">
            a passionate UI/UX designer with a multifaceted background and a thirst for adventure and process optimization!
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="timeline-heading">
    <div class="container">
      <div class="padding-vertical-xlarge">
        <%# Category Filter Pills using shared component %>
        <%= render 'shared/category_filter', 
                   categories: Post.categories.keys, 
                   controller_name: 'category-filter', 
                   all_text: 'All posts',
                   css_prefix: 'post' %>
      </div>
    </div>
  </section>
  <section class="timeline">
    <% content_for :title, "Posts" %>
    
    <div class="container">
      <div class="timeline_component">
        <div class="timeline_progress">
          <div class="timeline_progress-bar"></div>
        </div>
        
        <div id="posts">
          <% @posts.each do |post| %>
            <%= render 'post_index', post: post %>
          <% end %>
        </div>
        <%# Last Timeline Item %>
        <div class="timeline_item">
          <div class="timeline_item-left">
            <div class="timeline_item-date">
              <span class="timeline_item-date-span">from</span> July 2005 <span class="timeline_item-date-span">to</span> March 2012
            </div>
          </div>
          <div class="timeline_item-center">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_item-right">
            <div class="margin-bottom-xlarge">
              <div class="timeline_text">
                <h2 class="timeline-title">Old Blog</h2>
                <p>Ramblings from a younger me.</p>
                <%= link_to "Read older posts", "https://rudzainy.blogspot.com", class: "timeline_link", target: "_blank" %>
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="https://via.placeholder.com/600x400" alt="Post Image">
            </div>
          </div>
        </div>
        <%# Last Timeline Item End %>
        
        <div class="overlay-fade-top"></div>
        <div class="overlay-fade-bottom"></div>
      </div>
    </div>
    
    <div style="height: 50vh; background-color: #0a0a0a;"></div>
  </section>
</div>
