<% content_for :title, @post.title %>

<div class="page-wrapper">
  <%= render @post %>
</div>

<% if Rails.env.development? %>
  <div class="post-navigation">
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline-primary" %>
    <%= link_to "â† Back to all posts", posts_path, class: "btn btn-outline-primary" %>
    <%= button_to "Destroy this post", @post, class: "btn btn-outline-danger", method: :delete %>
  </div>
<% end %>