/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  background-color: #0a0a0a;
  color: #fff;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

h1 {
  font-size: 3.5rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  background: #005477;
  background: -webkit-linear-gradient(
    to right, 
    #005477, 
    #40E0D0
  );
  background: linear-gradient(
    to right, 
    #005477, 
    #40E0D0
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pre-h1 {
  font-size: 2.5rem;
  margin-right: 1rem;
  font-weight: 500;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.page-wrapper {
  z-index: 0;
  position: relative;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 100;
  /* height: 64px; */
  /* background-color: rgba(10, 10, 10, 0.6); */
  background-color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
  }
}

.navbar-image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.navbar_links {
  display: flex;
  gap: 1rem;
}

.navbar_copy {
  display: flex;
  flex-direction: column;
}

.navbar_copy span {
  font-size: small;
  font-weight: 200;
}

.navbar_copy button {
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .navbar_copy {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar_copy span {
    justify-content: center;
    align-items: center;
  }
}

.pill-draft {
  background-color: #40E0D0;
  color: #005477;
  border: 1px solid #005477;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3;
}