/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
 *= require_self
 *= require constellation
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  background-color: #0a0a0a;
  color: #fff;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  background: #005477;
  background: -webkit-linear-gradient(
    to right, 
    #005477, 
    #40E0D0
  );
  background: linear-gradient(
    to right, 
    #005477, 
    #40E0D0
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pre-h1 {
  font-size: 2.5rem;
  margin-right: 1rem;
  font-weight: 500;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.page-wrapper {
  z-index: 0;
  position: relative;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 100;
  /* height: 64px; */
  /* background-color: rgba(10, 10, 10, 0.6); */
}

.navbar-top {
  background-color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
  }

  .navbar-top {
    flex-direction: column-reverse;
  }
}

.navbar-image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.navbar_links {
  display: flex;
  gap: 1rem;
}

.navbar_copy {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.navbar_copy span {
  font-size: small;
  font-weight: 200;
}

.navbar_copy button {
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .navbar_copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar_copy span {
    justify-content: center;
    align-items: center;
  }
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
}

.pill-draft {
  background-color: #40E0D0;
  color: #005477;
  border: 1px solid #005477;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.link,
.filter_pill {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

/* Filter Pills */
.filter_pill-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 2rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .filter_pill-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 12px;
    justify-content: center;
  }
}

.filter_pill {
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.7;
  border: 2px solid;
  background-color: transparent;
  background-clip: padding-box;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  color: white;
  transform: skew(-30deg);
  min-width: 150px;
}

.skew-fix{
  display:inline-block;
  transform: skew(30deg);
}

.filter_pill:hover {
  opacity: 1;
  background-clip: border-box;
  color: white;
}

/* Default (All) Pill */
.filter_pill-default {
  border-color: #005477;
  color: white;
}

.filter_pill-default:hover,
.filter_pill-default.active {
  background: linear-gradient(135deg, #005477, #40E0D0);
}